<h4>{{content}}</h4>
<br>
<p>
<b>Product Id</b>: {{productId}} 
<br> 
<b>Product Quantity:</b> {{quantity}}
<br> 
<b>Customer Name</b>: {{fname}} {{lname}}
<br> 
<b>Email</b>: {{email}}
<br> 
<b>Street</b>: {{street}}    
<br> 
<b>Municipality</b>: {{municipality}}
<br> 
<b>Province</b>: {{province}}
<br> 
<b>Zipcode</b>: {{zipcode}}

</p>