<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Brands
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      
		
		<div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Brand List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tr>   
                  <th>Brand Name</th>
                  <th>Brand Description</th>
				  <th>Options</th>
                </tr>
				{{#each data}}
                <tr>
                   
                  <td>{{this.brand_name}}</td>
                  <td>{{this.brand_description}}</td>
				  <td><span class="btn btn-sm btn-primary pull-left" id="addUserbtn" style="margin-right:5px" onclick="location.href = '/admin/brands/update/{{this.brand_id}}';">Update</a></td>
                  
                </tr>
				{{/each}}
                
                
              
              </table>
            </div>
			
            <!-- /.box-body -->
          </div>
        
		<!-- /.box-body -->
         
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  
  
  <script type="text/javascript">
  $(document).ready(function () {
    
	 $('#category1').val({{prod_cat_id}});
	 $('#brand1').val({{prod_brand_id}});
	});
	
	
</script>
