<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
	
	<div class="row">
		<div class="col-md-5">
				
			<div class="info-box bg-red">
			<span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

			<div class="info-box-content">
			<span class="info-box-text">Total Sales</span>
			{{#each dataData7}}
			<span class="info-box-number">{{this.totalsale}}</span>
			{{/each}}
			<div class="progress">
			<div class="progress-bar" style="width: 50%"></div>
			</div>
			<span class="progress-description">
				 in Last 7 Days
			</span>
			</div>
			<!-- /.info-box-content -->
			</div>
	</div>
			<div class="col-md-6">
				
			<div class="info-box bg-green">
			<span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

			<div class="info-box-content">
			<span class="info-box-text">Total Sales</span>
			{{#each dataData8}}
			<span class="info-box-number">{{this.totalsale}}</span>
			{{/each}}
			<div class="progress">
			<div class="progress-bar" style="width: 50%"></div>
			</div>
			<span class="progress-description">
				 in Last 30 Days
			  </span>
			</div>
			<!-- /.info-box-content -->
			</div>
	</div>

            <!-- /.box-body -->
            
            <!-- /.box-footer -->
    </div>
	<div class="row">
		<div class="col-md-5">
				
				<div class="box box-info">

				<div class="box-header with-border">
				<h3 class="box-title">Top 10 Customers with most number of orders</h3>

				<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
				<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
				<div class="table-responsive">
				<table class="table no-margin">
				<thead>
				<tr>
				<th>No.</th>
				<th>Customer Name</th>
				<th>No of Orders</th>
				</tr>
				</thead>
				<tbody>
				{{#each dataData1}}
				<tr>
				<td>{{this.row}}</td>
				<td>{{this.customer_name}}</td>
				<td>{{this.orderno}}</td>
				</tr>
				{{/each}}
				</tbody>
				</table>
				</div>
				<!-- /.table-responsive -->
				</div>

		</div>
	</div>
			<div class="row">
			<div class="col-md-6">
				
				<div class="box box-info">

				<div class="box-header with-border">
				<h3 class="box-title">Top 10 Customers with highest payment</h3>

				<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
				<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
				<div class="table-responsive">
				<table class="table no-margin">
				<thead>
				<tr>
				<th>No.</th>
				<th>Customer Name</th>
				<th>Total Payment</th>

				</tr>
				</thead>
				<tbody>
				{{#each dataData2}}
				<tr>
				<td>{{this.row}}</td>
				<td>{{this.customer_name}}</td>
				<td>{{this.totalpay}}</td>
				</tr>
				{{/each}}
				</tbody>
				</table>
				</div>
				<!-- /.table-responsive -->
				</div>

		</div>
	</div>
			</div>
            <!-- /.box-body -->
            
            <!-- /.box-footer -->
    </div>

	
	<div class="row">
		<div class="col-md-5">
				
				<div class="box box-info">

				<div class="box-header with-border">
				<h3 class="box-title">Top 10 Most Ordered Products</h3>

				<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
				<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
				<div class="table-responsive">
				<table class="table no-margin">
				<thead>
				<tr>
				<th>No.</th>
				<th>Product Name</th>
				<th>No of Orders</th>

				</tr>
				</thead>
				<tbody>
				{{#each dataData3}}
				<tr>
				<td>{{this.row}}</td>
				<td>{{this.product_name}}</td>
				<td>{{this.total}}</td>
				</tr>
				{{/each}}
				</tbody>
				</table>
				</div>
				<!-- /.table-responsive -->
				</div>

		</div>
	</div>
			<div class="row">
			<div class="col-md-6">
				
				<div class="box box-info">

				<div class="box-header with-border">
				<h3 class="box-title">Top 10 Least Ordered Products</h3>

				<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
				<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
				<div class="table-responsive">
				<table class="table no-margin">
				<thead>
				<tr>
				<th>No.</th>
				<th>Product Name</th>
				<th>No of Orders</th>

				</tr>
				</thead>
				<tbody>
				{{#each dataData4}}
				<tr>
				<td>{{this.row}}</td>
				<td>{{this.product_name}}</td>
				<td>{{this.total}}</td>
				</tr>
				{{/each}}
				</tbody>
				</table>
				</div>
				<!-- /.table-responsive -->
				</div>

		</div>
	</div>
			</div>
            <!-- /.box-body -->
            
            <!-- /.box-footer -->
    </div>

	<div class="row">
		<div class="col-md-5">
				
				<div class="box box-info">

				<div class="box-header with-border">
				<h3 class="box-title">Top 10 Most Ordered Brands</h3>

				<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
				<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
				<div class="table-responsive">
				<table class="table no-margin">
				<thead>
				<tr>
				<th>No.</th>
				<th>Brand Name</th>
				<th>No of Orders</th>

				</tr>
				</thead>
				<tbody>
				</tbody>
				{{#each dataData5}}
				<tr>
				<td>{{this.row}}</td>
				<td>{{this.brand_name}}</td>
				<td>{{this.total}}</td>
				</tr>
				{{/each}}
				</table>
				</div>
				<!-- /.table-responsive -->
				</div>

		</div>
	</div>
			<div class="row">
			<div class="col-md-6">
				
				<div class="box box-info">

				<div class="box-header with-border">
				<h3 class="box-title">Top 10 Most Ordered Categories</h3>

				<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
				<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
				<div class="table-responsive">
				<table class="table no-margin">
				<thead>
				<tr>
				<th>No.</th>
				<th>Category Name</th>
				<th>No of Orders</th>

				</tr>
				</thead>
				<tbody>
				{{#each dataData6}}
				<tr>
				<td>{{this.row}}</td>
				<td>{{this.category_name}}</td>
				<td>{{this.total}}</td>
				</tr>
				{{/each}}
				</tbody>
				</table>
				</div>
				<!-- /.table-responsive -->
				</div>

		</div>
	</div>
			</div>
				
            <!-- /.box-body -->
            
            <!-- /.box-footer -->
    </div>
	
			
			<div class="row">
			<div class="col-md-6">
				
				<div class="box box-info">

				<div class="box-header with-border">
				<h3 class="box-title">Daily Order Counts in the last 7 days</h3>

				<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
				<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
				<div class="table-responsive">
				<table class="table no-margin">
				<thead>
				<tr>
				<th>Date</th>
				<th>Order Counts</th>

				</tr>
				</thead>
				<tbody>
				{{#each dataData9}}
				<tr>
				<td>{{moment this.date format="MMMM Do YYYY"}}</td>
				<td>{{this.count}}</td>
				</tr>
				{{/each}}
				</tbody>
				</table>
				</div>
				<!-- /.table-responsive -->
				</div>

		</div>
	</div>
			</div>


    </section>
    <!-- /.content -->
  </div>