<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Products
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      
		
		<div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Update Products</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form" method="post" action="/product/updatesubmit/{{prod_id}}">
                <!-- text input -->
                <div class="form-group">
                  <label>Product Name</label>
                  <input name="name" type="text" class="form-control" placeholder="Enter ..." required="required" value="{{prod_name}}">
                </div>
				<div class="form-group">
                  <label>Product Description</label>
                  <input name="description" type="text" class="form-control" placeholder="optional" value="{{prod_desc}}">
                </div>
				<div class="form-group">
                  <label>Product Tagline</label>
                  <input name="tagline" type="text" step="0.01" min="-9999999999.99" max="9999999999.99" class="form-control" placeholder="optional"  value="{{prod_tagline}}">
                </div>
				<div class="form-group">
                  <label>Product Price</label>
                  <input name="price" type="number" class="form-control" placeholder="Enter ..." required="required"  value="{{prod_price}}">
                </div>
				<div class="form-group">
                  <label>Product Warranty</label>
                  <input name="warranty" type="number" class="form-control" placeholder="optional"  value="{{prod_warranty}}">
                </div>
				<div class="form-group">
                  <label>Product Category</label>
				  <select id="category1" name="category" class="form-control" required="required" value="{{prod_cat_id}}">
				    
				    {{#each categorydata}}
                    <option value="{{this.category_id}}">{{this.category_name}}</option>
                    {{/each}}
                  </select>
                </div>
				<div class="form-group">
				  <label>Product Brand</label>
                  <select id="brand1" name="brand" class="form-control" required="required">
				    
				    {{#each branddata}}
                    <option value="{{this.brand_id}}">{{this.brand_name}}</option>
                    {{/each}}
                  </select>
                </div>
				<div class="form-group">
                  <label>Product Picture</label>
                  <input name="picture" type="text" class="form-control" placeholder="Enter ..." required="required" value="{{prod_picture}}">
                </div>
				<div class="form-group">
				   <button type="submit" class="btn bg-purple margin">Send</button>
                </div>
				

              </form>
            </div>
            <!-- /.box-body -->
          </div>
        
		<!-- /.box-body -->
         
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
<script type="text/javascript">
  $(document).ready(function () {
    $('#brand1').val('{{prod_brand_id}}');
	$('#category1').val('{{prod_cat_id}}');
	 
	});
	
	function showModal(var4,var5){
		if(var4=='delete'){
		$('#myModal').modal("show");  
		$('#mod-title').html("Delete Applicant");
		$('#mod-content').html(
					'<input type="text" id="updateIdx" hidden>'+
					'<div class="form-group">'+
					'<p>Would you like to delete this data?</p>'+
					'</div>'							
);
				  $('#notif-mess').html(' ');
		$('#mod-footer').html('<button id="addUserSubmitform"  class="btn btn-primary" onclick=showModal("delete2") >Submit</button>'+
		'<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>');
		 $('#updateIdx').val(var5);

		}
		else if(var4=='delete2'){
				
				var updateIdx = $('#updateIdx').val();
				
				  $('#myModal').modal("hide");  
				  location.href='/product/delete/{{prod_id}}';	
				
				
				
		}
		
		}
</script>	
